@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #050505;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i.fas,
i.fab {
  font-size: 3em;
  color: #2887f3;
}
/* navbar styling starts */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #2887f3;
  color: #e5e5e5;
}
.navbar li a {
  color: #e5e5e5;
}

/* navbar menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover,
.services a:hover {
  background-color: #050505;
  border-radius: 5px;
  transition: 0.5s ease;
}
.menu li {
  padding: 5px 14px;
}
/* responsive navbar menu starts */
/* checkbox hack */
input[type="checkbox"] {
  display: none;
}
/* hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* main content */
.home {
  height: 90vh;
}
.container {
  /* background: gray; */
  margin: auto;
  max-width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container img {
  width: 400px;
}
.container h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
}
.container h2 {
  font-size: 2em;
}
.container a,
.services a,
.projects a {
  font-size: 1.5em;
  margin-top: 1em;
  padding: 5px 10px;
  background-color: #2887f3;
  color: #e5e5e5;
  border-radius: 5px;
  border-color: #2887f3;
  cursor: pointer;
}
.container a:hover,
.projects a:hover {
  background-color: #e5e5e5;
  color: #2887f3;
  border-color: #e5e5e5;
  transition: 0.5s ease;
}

/* services and contact */
.services,
.contact {
  background-color: #e5e5e5;
  color: #050505;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services a,
.projects a {
  font-size: 1em;
  text-align: center;
}

.services div {
  display: flex;
  width: 90%;
}
.services h2,
.contact h2,
.projects h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
}
.services article {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 15px;
}
.services i,
.services h3,
.services p {
  padding-bottom: 20px;
}
.contact p {
  text-align: center;
  padding: 10px;
}
.contact form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.contact input,
.contact label,
.contact textarea {
  margin-bottom: 10px;
}

.contact input:invalid {
  border: 2px solid red;
  box-shadow: red;
}

.contact input:valid {
  border: 2px solid green;
}

.contact button {
  border: 2px solid #2887f3;
  background: #2887f3;
  color: #e5e5e5;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.contact button:hover {
  border: 2px solid #050505;
  background: #e5e5e5;
  color: #1d1f20;
}

/* projects work section */
.projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.project1 {
  display: flex;
  margin: 20px;
}
.project-info {
  margin-left: 20px;
}
footer {
  text-align: center;
  margin: 10px;
}
