@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #050505;
  color: #e5e5e5;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* navbar styling starts */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #2887f3;
  color: #e5e5e5;
}
.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
  width: 100%;
}
.navbar li a {
  color: #e5e5e5;
}
/* navbar menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu-btn {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  display: none;
  color: #e5e5e5;
  text-decoration: none;
  font-size: 18px;
}
.nav-links li:hover,
.services a:hover {
  background-color: #050505;
  border-radius: 5px;
  transition: 0.5s ease;
}
.nav-links li {
  padding: 5px 14px;
}
/* main content */
.home {
  height: 90vh;
}
.container-main {
  /* background: gray; */
  margin: auto;
  max-width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-main img {
  width: 400px;
}
.container-main h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
}
.container-main h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.container-main a,
.projects a {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: #2887f3;
  color: #e5e5e5;
  border-radius: 5px;
  border-color: #2887f3;
  cursor: pointer;
  text-align: center;
}
.container a:hover,
.projects a:hover {
  background-color: #e5e5e5;
  color: #2887f3;
  border-color: #e5e5e5;
  transition: 0.5s ease;
}
.projects img {
  width: 400px;
  height: auto;
}

/* services and contact */
.services,
.contact {
  background-color: #e5e5e5;
  color: #050505;
  padding: 2rem;
}
.services h2,
.contact h2,
.projects h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 1rem 1em 1em;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  margin: 1rem 3rem;
}
.service-card i {
  font-size: 3em;
  color: #2887f3;
  padding-bottom: 2rem;
}
.service-card h3,
.service-card p {
  padding-bottom: 1rem;
}
.service-card p {
  height: 200px;
}
.service-card a {
  align-self: flex-end;
  color: #e5e5e5;
  background-color: #2887f3;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.contact div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.contact p {
  text-align: center;
  padding: 10px;
}
.contact form {
  display: flex;
  flex-direction: column;
}
.contact input,
.contact label,
.contact textarea {
  margin-bottom: 10px;
  border-style: none;
  border-radius: 5px;
}
.contact input,
.contact textarea {
  padding: 10px;
}
.contact button {
  border: 2px solid #2887f3;
  background: #2887f3;
  color: #e5e5e5;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  cursor: pointer;
}
.contact button:hover {
  border: 2px solid #050505;
  background: #e5e5e5;
  color: #1d1f20;
}
/* projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects a {
  font-size: 1em;
  text-align: center;
}
.project-group {
  display: flex;
  margin: 20px;
  width: 90%;
}
.project-group a:first-child {
  background-color: #050505;
  margin: 0;
  padding: 0;
}
.project-info {
  margin-left: 20px;
  width: 50%;
}
.project-info p {
  height: 125px;
  width: 250px;
}
.project-info a {
  display: flex;
  width: 100px;
  justify-content: center;
}
footer {
  text-align: center;
  margin: 10px;
}

/* responsive behavior */
@media (max-width: 750px) {
  .container-main {
    width: 90%;
    padding: 2rem;
  }
  .container-main h1 {
    font-size: 3rem;
  }
  .container-main h2 {
    font-size: 1.75rem;
  }
  .container-main a {
    width: 100%;
  }
  .container-main img {
    display: none;
  }
  .project-group {
    display: flex;
    flex-direction: column;
  }
  .project-group img {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .contact div {
    width: 90%;
  }
  .menu-btn {
    display: flex;
  }
  .menu-btn:hover {
    border-bottom: #333 2px solid;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links ul li {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .nav-links ul li a {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}
