@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #1d1f20;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* navbar styling starts */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2887F3;
  color: #e5e5e5;
}
.navbar li a {
  color: #e5e5e5;
}
/* logo */
.logo {
  
}
/* navbar menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: #1d1f20;
  border-radius: 5px;
  transition: 0.5s ease;
}
.menu li {
  padding: 5px 14px;
}
/* responsive navbar menu starts */
/* checkbox hack */
input[type="checkbox"] {
  display: none;
}
/* hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* main content */
.home {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
}

/* services and contact */
.services,
.contact {
  background-color: aliceblue;
  color: #1d1f20;
}

.services > div {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.services > h2,
.contact > h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.contact > p {
  text-align: center;
  padding: 10px;
}

/* previous work section */
.previous {
  display: flex;
}

footer {
  text-align: center;
  margin: 10px;
}
